import { Component, signal } from '@angular/core';

import { PanelComponent, RasaTheme } from 'rasaui';

@Component({
   selector: 'sandbox-root',
   imports: [RasaTheme, PanelComponent],
   templateUrl: './app.html',
   styles: []
})
export class App {
   public readonly panelType = signal<'normal' | 'spaced' | 'slim' | 'spaceless'>('normal');
   public readonly panelVariation = signal<'straight' | 'semicurved' | 'curved'>('straight');
}
